/**
 * App Window
 */
@define-color bg_color rgba(242,242,242,0.9);
@define-color window_bg @bg_color;
@define-color window_border_color #F2F2F2;
@define-color prefs_backgroud #87B158;

/**
 * Input
 */
@define-color selected_bg_color #87B158;
/*@define-color selected_bg_color rgba(75,80,83,.7);*/
@define-color selected_fg_color #F2F2F2;
@define-color input_color #3C3C3C;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #3C3C3C;
@define-color item_text #3C3C3C;
@define-color item_box_selected #87B158;
@define-color item_text_selected #F2F2F2;
@define-color item_name_selected #F2F2F2;
@define-color item_shortcut_color #3C3C3C;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #F2F2F2;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border-width: 0;
    border-top: 1px solid @window_border_color;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: @item_box_selected;
    border-left: 1px solid @window_border_color;
    border-right: 1px solid @window_border_color;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn * {
    box-shadow: none;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
